<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>404 Not Found</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">SI Kependudukan</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a href="#">Cari Data</a></li>
      <li><a href="/penduduk/tambah">Tambah Penduduk</a></li>
      <li><a href="/keluarga/tambah">Tambah Keluarga</a></li>
    </ul>
  </div>
</nav>
  
<div class="container">
  <h1 th:text="'Error!'">Error</h1>
  <h4 th:text="'Halaman yang Anda cari tidak ditemukan'">Tidak ditemukan</h4>
</div>
<footer>
  <div th:replace="fragments/fragment :: footer"></div>
</footer>
</body>
</html>
